@font-face {
  font-family: "element-icons"; /* Project id 3734360 */
  src: url('iconfont.woff2?t=1666964055000') format('woff2'),
       url('iconfont.woff?t=1666964055000') format('woff'),
       url('iconfont.ttf?t=1666964055000') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-24gl-square:before {
  content: "\ea98";
}

.el-icon-24gf-square:before {
  content: "\eaa2";
}

.el-icon-wenjianjia:before {
  content: "\e603";
}

.el-icon-line:before {
  content: "\e653";
}

.el-icon--xiaoxuxian:before {
  content: "\e640";
}

.el-icon-daochutupian:before {
  content: "\e647";
}

.el-icon-daochu:before {
  content: "\eabf";
}

.el-icon-shixinzhengfangxing:before {
  content: "\e606";
}

.el-icon-xuxian:before {
  content: "\e616";
}

.el-icon-tianchongfuhao:before {
  content: "\edd6";
}

.el-icon-line1:before {
  content: "\e6bb";
}

.el-icon-line-fill:before {
  content: "\e6bc";
}

.el-icon-duoren:before {
  content: "\e83a";
}

.el-icon-suoding:before {
  content: "\e600";
}

.el-icon-ziti:before {
  content: "\e601";
}

.el-icon-jiesuo:before {
  content: "\e602";
}

.el-icon-jiesuo1:before {
  content: "\e669";
}

.el-icon-suoding1:before {
  content: "\e6e6";
}

.el-icon-icon-pencil:before {
  content: "\e670";
}

.el-icon-lingxing:before {
  content: "\e62d";
}

.el-icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.el-icon-24gf-pointer:before {
  content: "\e9c3";
}

.el-icon-jurassic_line:before {
  content: "\e68d";
}

.el-icon-tupian:before {
  content: "\e8ba";
}

.el-icon-radio-on-full:before {
  content: "\ea6a";
}

.el-icon-checkbox-full:before {
  content: "\ea6f";
}

